<div class="container">
  <h1>Cheat Sheet!</h1>
  <form name = "login" action="/" method="post">
    <ul>
      <li><input type = "string" name = "input[email]" placeholder="Email"></li>
      <li><input type = "password" name = "input[password]" placeholder="Password"></li>
    </ul>
    <input type = "submit" value ="Log in">
  </form>
 </div>
